.home-card-container {
  width: 61%;
  margin: auto;
}
.home-card-click {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  row-gap: 80px;
}

.add-new-prod {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: xx-large;
  cursor: pointer;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  right: 10px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}
/* .loader { */
  /* border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  /* animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;  
}

/* Safari */
/* @-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
